*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: rgba(34, 95, 131, 0.6);
    z-index: 100;
    
}

.header-icon1{
    margin: 10px 20px 0 40px;
    font-size: 22px;
    color: rgb(255, 255, 255);
}

.header-icon1:hover{
    color: rgb(137, 227, 243);
}
.header-search{
    width: 230px;
    height: 29px;
    border: 2px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 12px;
}

.header-icon2{
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
}

.header-nav{
    list-style: none;
    float: right;
    margin: 14px 55px 0 0;
    font-weight: bold;
    font-size: 15px;
    

}

.header-nav li{
    display: inline-block;
    margin-left: 20px;
    
}

.header-nav li a{
    color: rgb(255, 255, 255);
    text-decoration: none; 
    padding-bottom: 10px;
    padding-top: 10px ;
    font-size: 14px;
    position: relative;

}

.header-nav li a:hover{
    color: rgb(137, 227, 243);
    font-size: 15px;
    text-transform: uppercase; 

}

.header-nav li a:after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:  rgb(137, 227, 243);
    opacity: 0;
}

.header-nav li a:hover:after {
    width: 100%;
    opacity: 0.8;
    transition: 1s;
}

.list-drop {
    position: relative;
    display: inline-block;
}

.drop {
    position: absolute;
    width: 155px;
    padding: 5px;
    background-color: rgba(34, 95, 131, 0.6);
    text-align: center;
    right: 0;
    top: 175%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 50;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 5px;
}

.drop li a {
    color: white;
    display: block;
    padding: 18px 0px;
    text-align:left;
    margin: 0;
}
.list-drop:hover .drop {
    visibility: visible;
    opacity: 1;
}

.header-nav li .drop .a-drop:hover {
    width: 90%;
    text-align: center;
    text-transform: capitalize;

}
.drop li {
    display: block;
}

/* /////////////////////////////////////////////// */

.home{
    width: 100%;
    height: 100vh;
    background: center url(../images/free_fire.png)  ;
    background-size: cover;
    position: relative;
    /* border-bottom: 1px solid rgba(255, 255, 255,0.3); */

}

.home-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}

.home-contant{
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%) ;
}

.home-title{
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-size: 60px;
}

.home-p{
    color: rgba(255, 255, 255,0.6);
    margin: 20px 0;
    letter-spacing: 2px;

}

.home-btn{

    width: 130px;
    height: 50px;
    margin-left: 10px;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer
}

.home-btn2{
    color: white;
    background-color:rgb(34, 95, 131);

}

.home-btn:hover{
    opacity: 0.4;
}

/* //////////////////////////////////////////////// */

.parent{
    overflow: auto;
    font-size: smaller;
    width: 100%;
    height: 100vh;
    text-transform: capitalize;
    background: center url(../Images/11.jpg)  ;
    background-size: cover;  
    position: relative;  
    /* border-bottom: 1px solid rgba(255, 255, 255,0.3); */


}

.parent-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}

.parent-title{
    padding: 100px;
    text-align: center;
}

.parent-title h2{
    color: #fff;
    font-size: 40px;
    position: relative;
    font-family:serif;
    text-transform: capitalize;

}

.parent-title h2::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    background-color: #fff;
    height: 2px;
    width: 180px;

}

.parent-child1{
    width: 320px;
    height: 220px;
    border: 1px solid rgba(255, 255, 255,0.3);
    float: left;
    margin-left: 115px;
    border-radius: 10px;
    text-align: center; 
    position: relative;
    z-index: 2;
   
}

.parent-child2{
    width: 320px;
    height: 220px;
    border: 1px solid rgba(255, 255, 255,0.3);
    float: left;
    margin: 0px 80px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    z-index: 2;

}

.parent-child3{
    width: 320px;
    height: 220px;
    border: 1px solid rgba(255, 255, 255,0.3);
    float: left;
    border-radius: 10px;
    text-align: center;
    position: relative;
    z-index: 2;

}

.parent-child-icon{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin:20px 0 20px ;

}

.parent-child-h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 19px;
}

.parent-child-p{
    font-size: 14.5px;
    font-weight: bold;
    color: grey;
    margin-bottom: 19px;

}

.parent-child-a{
    width: 100px;
    height: 30px;
    border: none;
    color: rgb(0, 140, 255);
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
}


.parent-child:after{
    content: "";
    position: absolute;
    width: 0 ;
    height: 0 ;
    top: 0;
    left: 0;
    transition: 0.5s ;
    background-color: rgb(34, 95, 131);
    opacity: 0;
    border-radius: 10px;
    z-index: -1;

  
}

.parent-child:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5 ;
}

.parent-child:hover .parent-child-icon{
    color: rgb(0, 140, 255);
}

.parent-child:hover .parent-child-h2{
    color: rgb(255, 255, 255);
}

.parent-child:hover .parent-child-p{

    color: rgb(0, 0, 0);


}


/* /////////////////////////////////////////// */

.featured{
    overflow: auto;
    font-size: smaller;
    width: 100%;
    height: 670px;
    text-transform: capitalize;
    background: center url(../Images/11.jpg)  ;
    background-size: cover;
    position: relative;
    /* border-bottom: 1px solid rgba(255, 255, 255,0.3); */
  }

  .featured-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
  }

.featured-title{
    text-align: center;
    margin-top: 70px;
}

.featured-title h2{
    font-family:serif;
    color: #fff;
    font-size: 40px;
    position: relative;
    margin-bottom: 80px;
    text-transform: capitalize;

}

.featured-title h2::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 180px;

}

.featured-div img{
    border: 1px solid rgba(255, 255, 255,0.3);
    border-radius: 10px;
}

.featured-div1 {
    width: 300px;
    height: 200px;
    float: left;
    margin-left: 190px;
    position: relative;

  }
  
  .featured-div2 {
    width: 300px;
    height: 200px;
    float: left;
    margin: 0px 40px;
    position: relative;

  }
  
  .featured-div3 {
    width: 300px;
    height: 200px;
    float: left;
    position: relative;

  }
  
  .featured-div4 {
    width: 300px;
    height: 200px;
    float: left;
    margin-left: 190px;
    margin-top: 40px;
    position: relative;

  }
  
  .featured-div5 {
    width: 300px;
    height: 200px;
    float: left;
    margin: 40px 40px;
    position: relative;

  }
  
  .featured-div6 {
    width: 300px;
    height: 200px;
    float: left;
    margin-top: 40px;
    position: relative;

  }

  .featured-divTitle {
    width: 100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.8);
    line-height: normal;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    transition: 0.1s;
    color: #fff;
    text-align: center; 
    visibility: hidden; 


  }

  .featured-div:hover .featured-divTitle{
    visibility: visible;
    border-radius: 10px;

    /* opacity: 1; */
  }

  .featured-icon1{
    background-color:rgb(0, 140, 255);
    width: 40px;
    height: 30px;
    padding-top: 6px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 6px;
}
.featured-icon2{
    background-color:rgb(0, 140, 255);
    width: 40px;
    height: 30px;
    padding-top: 6px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 6px;
}

.featured-divIcon a{
    display:inline-block;
    position: relative;
    top: 50px;
}

.featured-h2{
    color: rgb(181, 181, 184);
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 30px;
    }

.featured-p{
    position: relative;
    font-weight: bolder;
    font-size: 15px;
    top: 20px; 
}

/* //////////////////////////////////////////////////// */

.offer {
    overflow: auto;
    font-size: smaller;
    width: 100%; 
    height: 750px;
    background: center url(../images/11.jpg)  ;
    background-size: cover;
    position: relative;
    /* border-bottom: 1px solid rgba(255, 255, 255,0.3); */

  }

  .offer-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .offer-title{
    margin-top: 100px;
    text-align: center;
}

.offer-title h2{
    /* font-weight: normal; */
    font-family:serif;
    color: #fff;
    font-size: 40px;
    position: relative;
    margin-bottom: 80px;
    text-transform: capitalize;

}

.offer-title h2::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 180px;

}

  .offer-div1 {
    width: 300px;
    height: 200px;
    border: 1px solid grey;
    float: left;
    margin-left: 150px;
    text-align: left;
    border-radius: 10px;
    position: relative;
    padding-top: 25px ;
    padding-left: 15px;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255,0.3);

  }
  
  .offer-div2 {
    width: 300px;
    height: 200px;
    border: 1px solid gray;
    float: left;
    margin: 0px 70px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    padding-top: 25px ;
    padding-left: 15px;
    border: 1px solid rgba(255, 255, 255,0.3);

  }
  
  .offer-div3 {
    width: 300px;
    height: 200px;
    border: 1px solid grey;
    float: left;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    padding-top: 25px ;
    padding-left: 15px;
    border: 1px solid rgba(255, 255, 255,0.3);

  }
  
  .offer-div4 {
    width: 300px;
    height: 200px;
    border: 1px solid grey;
    float: left;
    margin-left: 150px;
    margin-top: 40px;
    position: relative;
    z-index: 2;
    border-radius: 10px;
    padding-top: 25px ;
    padding-left: 15px;
    border: 1px solid rgba(255, 255, 255,0.3);

  }
  
  .offer-div5 {
    width: 300px;
    height: 200px;
    border: 1px solid gray;
    float: left;
    margin: 40px 70px;
    position: relative;
    z-index: 2;
    border-radius: 10px;
    padding-top: 25px ;
    padding-left: 15px;
    border: 1px solid rgba(255, 255, 255,0.3);

  }
  
  .offer-div6 {
    width: 300px;
    height: 200px;
    border: 1px solid grey;
    float: left;
    margin-top: 40px;
    position: relative;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255,0.3);
    border-radius: 10px;
    padding-top: 25px ;
    padding-left: 15px;

  }

.offer-div{
    padding: 25px 15px 30px 50px;

}

 .offer-h2{
    font-size: 21px;
    font-weight: bolder ;
    color: rgba(0, 153, 255,0.7);


  }
  
  .offer-p{
    font-size: 15px;
    font-weight: bold;
    color: rgb(170, 165, 165);
    padding-top: 12px;

}

 .offer-icon{  
    position: absolute;
    left: 10px ;
    top: 25px;
    font-size: 30px;
    color: rgba(0, 153, 255,0.7);

}

.offer-div:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgb(34, 95, 131);
    transition: 0.5s;
    opacity: 0;
    z-index: -1;
    
}

.offer-div:hover::after{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    opacity: 0.5 ;

}

.offer-div:hover .offer-h2{
    color: rgb(255, 255, 255);
    }

.offer-div:hover .offer-p{
    color: rgb(0, 0, 0);
}

/* //////////////////////////////////////////////////// */

  .choose {
    overflow: auto;
    font-size: smaller;
    width: 100%; 
    height: 610px;
    background: center url(../images/00.jpg)  ;
    background-size: cover;
    position: relative;
    /* border-bottom: 1px solid rgba(255, 255, 255,0.3); */

  }

  .choose-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
  }

.choose-div1 {
    width: 52%;
    height: 100vh;
    float: left;
    padding: 95px 0 0 120px;


} 

.choose-h2{
    font-size: 40px;
    position: relative;
    color: white;
    font-family:serif;
    margin-bottom: 80px;
    text-transform: capitalize;
    text-align: left;

}

.choose-h2::before{
    content: "";
    position: absolute;
    bottom: -30px;
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 140px;

}

.choose-p{
    font-size: 15px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 45px;
}

.choose-div1-ul{ 
    list-style: none;

}

.choose-div1-ul .choose-li{ 
    font-size: 15px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 30px;
}

.choose-icon{
    color:  rgb(137, 227, 243);
}

.choose-div2 {
    float: right;
    width: 40%;
    height: 100vh;
}

.choose-div2-img{
   margin: 60px 50px 0 60px;
   border: 1px solid rgba(255, 255, 255,0.3);
   border-radius: 10px;
}

.choose-div2-ul{
    text-align: center;
    list-style: none;
    padding-right: 80px;

}
.choose-div2-ul .choose-li-fixed{
    background-color: rgba(17, 149, 226, 0.6)
}
.choose-div2-ul li{
    margin: 10px 5px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(201, 201, 202);
}
.choose-div2-ul li:hover{
    background-color: rgba(17, 149, 226, 0.6)
}

/* /////////////////////////////////////////////////////////////// */

.sec7{
    width: 100%;
    height: 65vh;
    background: center url(../Images/77.jpg) fixed no-repeat ;
    background-size: cover;
    /* border-bottom: 1px solid rgba(255, 255, 255,0.3); */

}

.sec7-opacity{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.sec7-contant{
    overflow: auto;
    padding: 80px 0 0 0;
    margin-left: 200px;
    text-align: center;
   
}

.sec7-contant1{
    float: left;
    width: 150px;
    text-align: center;
    height: 200px;

}

.sec7-contant2{
    float: left;
    width: 150px;
    text-align: center;
    margin: 0 120px 0 120px;
    height: 200px;

}
.sec7-contant3{
    float: left;
    width: 150px;
    text-align: center;
    margin-right: 120px;
    height: 200px;

}
.sec7-contant4{
    float: left;
    width: 150px;
    text-align: center;
    height: 200px;

}

.sec7-contant-icon{
    font-size: 40px;
    padding: 75px 0 15px 0;
    color: rgb(0, 153, 255);


}

.sec7-contant-title{
    color: white;

}

.sec7-contant-text{
    font-weight: bold;
    color: white;

}

/* //////////////////////////////////////// */ 

.pricing {
    overflow: auto;
    font-size: smaller;
    width: 100%; 
    height: 680px;
    background: center url(../images/11.jpg)  ;
    background-size: cover;
    position: relative;
    /* border-bottom: 1px solid rgba(255, 255, 255,0.3); */
  }

  .pricing-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .pricing-title{
    padding: 80px 100px 0 100px;
    text-align: center;
}

.pricing-title h2{
    font-size: 40px;
    position: relative;
    color: #fff;
    font-family:serif;
    margin-bottom: 80px;
    text-transform: capitalize;

}

.pricing-title h2::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 180px;

}

.pricing-div1 {
    width: 300px;
    height: 395px;
    border: 1px solid rgba(255, 255, 255,0.3);
    float: left;
    margin-left: 175px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  
  .pricing-div2 {
    width: 300px;
    height: 395px;
    border: 1px solid rgba(255, 255, 255,0.3);
    float: left;
    border-radius: 10px;
    margin: 0px 50px;
    text-align: center;
    position: relative;
    z-index: 2;
  }

  .pricing-div3 {
    width: 300px;
    height: 395px;
    border: 1px solid rgba(255, 255, 255,0.3);
    float: left;
    border-radius: 10px;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  
.pricing-div-title{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color:  rgba(0, 153, 255,0.7);
    padding: 45px 0 20px 0;
}

.pricing-div:hover .pricing-div-title{
    color: rgb(255, 255, 255);
}

.pricing-div-circle {
  width: 100px;
  height: 100px;
  border: 2px solid rgb(170, 165, 165);
  margin: auto;
  border-radius: 50%;
  padding-top: 20px;
}

.pricing-div:hover .pricing-div-circle{
    border: 3px solid rgba(0, 153, 255,0.7);
}

.pricing-div:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgb(76, 162, 212);
    z-index: -1;
    transition: 0.5s;
    opacity: 0.5;
}

.pricing-div:hover::after{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.5s;
    opacity: 0.5;
}
 
.pricing-div-h3 {
    color:rgb(170, 165, 165);
    font-size: 35px;
  }
  
.pricing-div-span{
    font-size: 13px;
    color:rgb(170, 165, 165);
    font-weight: bold;
    text-transform: uppercase;

}

.pricing-div:hover .pricing-div-span ,.pricing-div:hover .pricing-div-h3{
    color: rgb(255, 255, 255);
}

.pricing-div-ul{
    font-size: 15px;
    font-weight: bold;
    list-style: none;
    line-height: 40px;
    padding: 25px 0 10px 0;
    text-transform: capitalize;
    color: rgb(170, 165, 165);
}

.pricing-div:hover .pricing-div-ul{
    color: rgb(8, 8, 8);
}


.pricing-div-btn {
  height: 30px;
  width: 180px;
  border: 2px solid rgba(119, 119, 119, 0.7);
  border-radius: 10px;
}

.pricing-div:hover .pricing-div-btn{
    font-weight: bold;
    border: 3px solid rgba(0, 153, 255,0.7);
}


/* /////////////////////////////////////////////////// */

.sec9{
    width: 100%;
    height: 65vh;
    background: center url(../Images/68.jpg) fixed no-repeat ;
    background-size: cover;
    /* border-bottom: 1px solid rgba(255, 255, 255,0.3); */

}

.sec9-opacity{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.sec9-contant{
    overflow: auto;
    margin: auto;
    width: 80%;
    height: 100%;
   
}

.sec9-contant1{
    width: 50%;
    height: 100%;
    float: left;

}

.sec9-contant-info{
    position: relative;
    text-transform: capitalize;
    padding: 130px 50px 10px 150px;
    line-height: 1.5;
}

.sec9-contant-info img{
    position: absolute;
    left: 50px;
    top: 120px;
    border-radius: 50%;
}
.sec9-contant-h3{
    font-size: 30px;
    color: white;

}

.sec9-contant-span{
    color: rgba(0, 153, 255,0.7);
    font-size: 18px;
    font-weight: bold;

}

.sec9-contant p{
    margin: 0px 30px 0px 60px;
    line-height: 1.5;
    color: rgb(177, 177, 177);
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
}

/* /////////////////////////////////////////////////// */

.container {
    font-size: smaller;
    width: 100%;
    overflow: auto;
    height: 680px;
    background: center url(../images/00.jpg)  ;
    background-size: cover;
    position: relative;
    /* border-bottom: 1px solid rgba(255, 255, 255,0.3); */
  }

  .container-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .container-title{
    padding: 100px 100px 0 80px;
    text-align: center;
    color: white;
}

.container-title h2{
    font-size: 40px;
    position: relative;
    margin-bottom: 80px;
    font-family: serif;
    text-transform: capitalize;

}

.container-title h2::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 180px;

}

.container-content {
    overflow: auto;
    margin-left: 125px;

}
.container-item {
    float: left;
    border: 1px solid rgba(255, 255, 255,0.3);
    width: 320px;
    height: 320px;
    border-radius: 10px;
    padding: 14px  18px;
    text-align: center;
    position: relative;
}

.margin-item {
    margin: 0px  5%;
}
.container-img {
    width: 90%;
    margin: auto;
    position: relative;
    border-radius: 5px;

}

.container-img  img {
    width: 100%;
    border-radius: 5px;
}

.container-overley {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    visibility: hidden;
    opacity: 0;
}
.container-item:hover  .container-overley {
    visibility: visible;
    opacity: 0.7;
    transition: 1s;
}

.container-overley a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(17, 52, 207);
    color: #fff;
    font-size: 16px ;
    margin-left: auto ;

}
.container-overley  a  i {
    line-height: 40px ;
}

.container-info-title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-transform: capitalize;
}
.container-info-sp1 {
    padding-left: 10px;
    color: gray;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}
.container-item:hover  .container-info-title {
    color: #fff;
}
.container-item:hover  .container-info-sp1 {
    color: blue;
}

.container-item:after {
    content: "";
    position: absolute;
    width: 100% ;
    height: 0 ;
    top: 0;
    left: 0;
    border-radius: 10px;
    transition: 0.5s ;
    background-color:  rgba(0, 153, 255,0.7);
    opacity: 0;
    border-radius: 5px;

  
}

.container-item:hover::after   {
     width: 100%;
     height: 100%;
     opacity: 0.5 ;
}

/* /////////////////////////////////////////////////// */
.team {
    overflow: auto;
    font-size: smaller;
    width: 100%; 
    height: 780px;
    background: center url(../images/11.jpg) ;
    background-size: cover;
    position: relative;
    /* border-bottom: 1px solid rgba(255, 255, 255,0.3); */
  }

  .team-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .team-title{
    padding: 100px 100px 0 80px;
    text-align: center;
}

.team-title h2{
    font-size: 40px;
    position: relative;
    margin-bottom: 80px;
    font-family: serif;
    color: white;
    text-transform: capitalize;

}

.team-title h2::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 180px;

}

.team-div{
    width: 320px;
    text-align: center;
    height: auto;
    float: left;
    border: 1px solid rgba(255, 255, 255,0.3);
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

.margin-left{
    margin-left: 120px;
}

.team-div:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 153, 255,0.7);
    transition: 0.5s;
    opacity: .5;
    border-radius: 10px;
    z-index: -1;
}
.team-div:hover:after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 0.5s;
}
.team-div:hover .team-icons ul  {
    color: rgb(0, 0, 0);
}

.team-div h3{
    text-transform: uppercase;
    color: rgba(0, 153, 255,0.7);
}

.team-div:hover h3{
    color: #fff;
}

.team-div:hover .team-icons p {
    color: rgb(0, 0, 0);
}
.team-icons ul {
    list-style: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
}
.team-icons ul li{
   display: inline-block;
   margin-right: 15px;
   margin-top: 25px;
}
.team-icons h3{
   margin: 15px 0px;
}
.team-icons{
   margin-bottom: 15px;
}
.team-ReadMore{
   text-decoration: none;
   text-transform: capitalize;
   font-weight: bold;
   color:  rgba(0, 153, 255,0.7);

}

.team-div:hover .team-ReadMore{
    color: white;
 
 }

.team-icons p{
    margin-bottom: 25px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
}
.team-div img{
    border-radius: 10px;
    margin-top: 20px;
}
.margin-team{
    margin: 0px 5%;
}
.team-div-icon{
    color:  rgb(0, 153, 255);
}

/* /////////////////////////////////////////////////// */

.footer{
    width: 100%;
    height: 60%;
    background: center url(../images/80.jpg) no-repeat;
    background-size: cover;
    
}

.footer-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.footer-overlay-title h2{
    text-align: center;
    font-size: 20px;
    position: relative;
    margin-top: 60px;
    font-family:cursive;
    color: #fff ;
    text-transform: uppercase;

}

.footer-overlay-title h2::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    background-color: rgb(255, 255, 255);
    height: 1px;
    width: 200px;

}

.footer-img{
    width: 50px;
    height: 50px;
    display: inline;
    margin-left: 610px;

}
.footer-img img{
    margin-top: 20px;
}

.footer-img .footer-span{
    font-size: 22px;
    text-transform: capitalize;
    font-family:fantasy;
    letter-spacing: 1px;
    /* color: #c60ccc; */
    color:  rgba(0, 153, 255,0.7);
}


.footer-icons ul{
    list-style: none;
    margin-top: 50px;
    margin-left: 565px;
}

.footer-icons ul li{
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
    /* background-color: #8d92dd; */
    background-color:  rgba(0, 153, 255,0.7);
}

.footer-icons ul li a{
    color: #fff;
    text-decoration: none;
}

.footer-p{
    color: #ffffff;
    margin-top: 60px;
    margin-left: 530px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-icons ul .li1:hover {
    background-color: #092cf0;
    transition: 0.5s;
}

.footer-icons ul .li2:hover{
    background-color: #30b3ff;
    transition: 0.5s;
}

.footer-icons ul .li3:hover{
    background-color: #ff0000;
    transition: 0.5s;
}

.footer-icons ul .li4:hover{
    background-color: #1d06e6;
    transition: 0.5s;
}

.footer-icons ul .li5:hover{
    background-color: #e62b63;
    transition: 0.5s;
}

.footer-icons ul .li6:hover{
    background-color: #4e43e9;
    transition: 0.5s;
}
